body{
	background-color:#212a34;
	font-family: Avenir, Helvetica, sans-serif;
}
h2 {
	color: dodgerblue;
	font-size: 35px;
	font-variant: small-caps;
	border-bottom: 3px solid tomato;
	padding-bottom:5px;
}
p.upper,a {
	color: tomato;
	text-align: right;
}
p3 {
	font-size: 20px;
}
p4{
	font-style:italic;
	color:tomato;
}
section {
	color: dodgerblue;
	text-align: right;
}
p {
	text-align: right;
}
button {
	width:60%;
	height: 30px;
	margin: auto;
	display:block;
	font-size: 12px;
	border-radius: 3px 3px 3px 3px;
	border-color: tomato;
	background-color: #374657;
	color:tomato;
}
button:hover{
	background-color: white;
    color: dodgerblue;
}
p5 {
	color: tomato;
	font-size: 28px;
	font-weight:bold;
}
table {
	border-color:tomato;
	table-cell: 3px;
	border-collapse: collapse;
	width: 500px;
}
td {
	padding: 15px;
	text-align: left;
}
tr{
	color:dodgerblue;
	font-family: font-family: Avenir, Helvetica, sans-serif;
}
th {
	height: 50px;
	color:dodgerblue;
	font-size:20px;
	font-family: font-family: Avenir, Helvetica, sans-serif;
	background-color: #374657;
}