<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Edit Student Files</title>
  </head>
  <body style="margin: 40px;">
	<div style ="padding-bottom: 25px;">
	  <h5>Tanong Public High School
	  <div style = "text-align:right;float: right;">
		  <a href="{% url 'login' %}" class="btn btn-default" >Sign Out</a>
		  <a href="{% url 'home-view' %}" class="btn btn-default">Home</a>
	  </div>
		</h5>
    </div>
    <h4 style="margin-left: 20px;">Edit Student Files</h4>
    <div style="text-align: center;margin-top: 10px;">
    	<label style="">Student Last Name</label>
    	<input style="width: 200px;margin-left: 15px;" id="lastname">
    	<label style="margin-left: 20px;">Student First Name</label>
    	<input style="width: 200px;margin-left: 15px;" id="firstname">
    </div>
    <hr>
	<table class = "table table-bordered table-striped" style="margin: auto;margin-top: 25px; width: 70%;">
	<thead class="thead-dark">
	<tr>
	<th scope = "col" style ="width: 150px;text-align: center;">File Name</th>
	<th scope = "col" style ="text-align: center;width: 200px;">File Path</th>
	<th scope="col" style="text-align: center;width: 100px;"> Action</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td></td>
		<td></td>
		<td>
			<div style="text-align: center;">
				<button type="submit" style=";border: none;background-color: transparent;font-size: 14px;">Delete</button>
				<button type="submit" style=";border: none;background-color: transparent;font-size: 14px;">Update</button>
				<button type="submit" style=";border: none;background-color: transparent;font-size: 14px;">View</button>
			</div>
		</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td>
			<div style="text-align: center;">
				<button type="submit" style=";border: none;background-color: transparent;font-size: 14px;">Delete</button>
				<button type="submit" style=";border: none;background-color: transparent;font-size: 14px;">Update</button>
				<button type="submit" style=";border: none;background-color: transparent;font-size: 14px;">View</button>
			</div>
		</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td>
			<div style="text-align: center;">
				<button type="submit" style=";border: none;background-color: transparent;font-size: 14px;">Delete</button>
				<button type="submit" style=";border: none;background-color: transparent;font-size: 14px;">Update</button>
				<button type="submit" style=";border: none;background-color: transparent;font-size: 14px;">View</button>
			</div>
		</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td>
			<div style="text-align: center;">
				<button type="submit" style=";border: none;background-color: transparent;font-size: 14px;">Delete</button>
				<button type="submit" style=";border: none;background-color: transparent;font-size: 14px;">Update</button>
				<button type="submit" style=";border: none;background-color: transparent;font-size: 14px;">View</button>
			</div>
		</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td>
			<div style="text-align: center;">
				<button type="submit" style=";border: none;background-color: transparent;font-size: 14px;">Delete</button>
				<button type="submit" style=";border: none;background-color: transparent;font-size: 14px;">Update</button>
				<button type="submit" style=";border: none;background-color: transparent;font-size: 14px;">View</button>
			</div>
		</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td>
			<div style="text-align: center;">
				<button type="submit" style=";border: none;background-color: transparent;font-size: 14px;">Delete</button>
				<button type="submit" style=";border: none;background-color: transparent;font-size: 14px;">Update</button>
				<button type="submit" style=";border: none;background-color: transparent;font-size: 14px;">View</button>
			</div>
		</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td>
			<div style="text-align: center;">
				<button type="submit" style=";border: none;background-color: transparent;font-size: 14px;">Delete</button>
				<button type="submit" style=";border: none;background-color: transparent;font-size: 14px;">Update</button>
				<button type="submit" style=";border: none;background-color: transparent;font-size: 14px;">View</button>
			</div>
		</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td>
			<div style="text-align: center;">
				<button type="submit" style=";border: none;background-color: transparent;font-size: 14px;">Delete</button>
				<button type="submit" style=";border: none;background-color: transparent;font-size: 14px;">Update</button>
				<button type="submit" style=";border: none;background-color: transparent;font-size: 14px;">View</button>
			</div>
		</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td>
			<div style="text-align: center;">
				<button type="submit" style=";border: none;background-color: transparent;font-size: 14px;">Delete</button>
				<button type="submit" style=";border: none;background-color: transparent;font-size: 14px;">Update</button>
				<button type="submit" style=";border: none;background-color: transparent;font-size: 14px;">View</button>
			</div>
		</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td>
			<div style="text-align: center;">
				<button type="submit" style=";border: none;background-color: transparent;font-size: 14px;">Delete</button>
				<button type="submit" style=";border: none;background-color: transparent;font-size: 14px;">Update</button>
				<button type="submit" style=";border: none;background-color: transparent;font-size: 14px;">View</button>
			</div>
		</td>
	</tr>
	</tbody>
	</table>
    <div style="text-align: center;">
        <button type="submit" class="btn btn-light" style="min-width:200px;min-height:40px;background-color: silver;margin-top: 25px;">Back to Student Record</button>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>