@media (min-width: 992px) { 
	#navbarSupportedContent {
		height: 95px;
	}

	#navbarSupportedContent > ul, #navbarSupportedContent > ul > li {
		height: 100%;
		display: flex;
		align-items: center;
	}

	.nav-item-hover:hover {
		transition: all linear 0.2s;
		-webkit-box-shadow: inset 1px -8px 0px -4px rgba(33,37,41,1);
		-moz-box-shadow: inset 1px -8px 0px -4px rgba(33,37,41,1);
		box-shadow: inset 1px -8px 0px -4px rgba(33,37,41,1);
	}
}
