/* CSS FOR THE LOGIN SCREEN */
/* for vertically aligning everything in innerdiv */
.divmain{
    display: table;
    position: absolute;
    top: 0;left: 0;
    height: 100%;
    width: 100%;
}
.innerdiv{
    display: table-cell;
    vertical-align: middle;
}
.centerRoboto{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.logininputdiv{
    width: 16.6rem;
    margin: auto;
}
.loginform{
    padding-top: 1.6rem;
    text-align: left;
    font-size: 1rem;
}
.robotoFont{
    font-family: 'Roboto', sans-serif;
}
.loginInput{
    float: right;
    width: 12.5em;
}
.topMargin10{
    margin-top: 0.7rem;
}
.buttonDiv{
    margin-top: 2.5em;
    text-align:center;
}
.buttonStyle{
    min-width:3.2em;
    min-height:1.rem;
    background-color: #E3E3E3;;
    width:7.5em;
    font-family: 'Roboto', sans-serif;
}
.leftMargin15{
    margin-left: 0.9rem;
}

/* overwrite Bootstrap's striped table colors */
.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color:#6EA37D; 
 }.table-striped>tbody>tr:nth-child(odd)>td, 
 .table-striped>tbody>tr:nth-child(odd)>th {
    background-color:#F2F2F2; 
  }

/* overwrite color of borders for the table */

.navstyle{
    background-color:#3DBF61;
    height:4rem;
    margin-bottom: 0.9rem;
}
.navbrand{
    color:black;
    margin-left: 0.9rem;
}
.navbuttons{
    text-align:right;
    float: right;
    margin-right: 0.9rem;
}
.headerbuttons{
    background-color:#E3E3E3;
    width:9.4em;
}
.screenhead{
    margin-left: 2.2rem;
    width: 25rem;
    margin-bottom: 1.25rem;
}
.filtersdiv{
    margin-top: 0.63rem;
    text-align: center;
    width: 64.38rem;
    margin-left: auto;
    margin-right: auto;
}
.filterlabel{
    margin-right: 0.9em;
    float: left;
    margin-top: 0.13em;
}
.selectstyle{
    background-color: #E5E5E5;
    color:#494949;
    float:left;
    width: 11.06em;
    height:2.2em;
    border-color:#E5E5E5;
}
.leftMargin20{
    margin-left: 1.25rem;
}
.filterbuttons{
    background-color: #E3E3E3;
    margin-left: 1.43em;
    font-size: 0.875rem;
    float: left;
}
.alignitems{
    align-items:center;
}
.inline{
    margin-top: 1.25em;
    display: inline-block;
}
.searchlabels{
    float: left;
    margin-top:0.188em
}
.searchinputs{
    width: 12.5em;
    margin-left: 0.9em;
    float: left;
    height:2.2em;
    background-color: #E5E5E5;
}
.hrstyle{
    margin-top: 0.9rem;
    width:80.125rem;
}
.tablestyle{
    margin: auto;
    margin-top: 1.5625rem;
    width: 95%;
    margin-bottom: 1.5625rem;
    border-style: hidden;
}
.thstyle{
    text-align: center;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
.width80{
    width: 5em;
}
.width140{
    width: 8.75em;
}
.width130{
    width: 8.125em;
}
.width250{
    width: 15.625em;
}
.width120{
    width: 7.5em;
}
.width160{
    width: 10em;
}
.table-striped>tbody>tr:nth-child(even)>td>div>.tablebuttons{
   background-color:#F2F2F2; 
 }.table-striped>tbody>tr:nth-child(odd)>td>div>.tablebuttons{
    background-color:rgb(211, 211, 211); 
  }
.tablebuttons{
    /* background-color: #E7E7E7; */
    font-size: 0.875em;
}
.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {
    padding: 0.5em;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0.0625em solid #7c7c7c;
}